# Configuration file

general {
    # The cost in EU, per mB of lava fabricated
    I:lavaCostInEU=50

    # Enable the lava fabricator
    B:lavaFabricatorEnable=true

    # The size of the internal tank in the lava fabricator in mB. Set to 32000mB as it takes two (BuildCraft) tanks in the crafting recipe
    I:lavaFabricatorInternalTankSize=32000

    # The cost in EU, per mB of (BuildCraft) oil fabricated Note: Classic version is 50, but due to Liquid Fuel generator now existing, it is too low
    I:oilCostInEu=250

    # Enable the oil fabricator
    B:oilFabricatorEnabled=true

    # The size of the internal tank in the oil fabricator in mB. Set to 32000mB as it takes two (BuildCraft) tanks in the crafting recipe
    I:oilFabricatorInternalTankSize=32000

    # Should the fabricators output if a fluid tank/pipe is attached? (Uses the same method as the buildcraft pump to achieve this)
    B:outputFluidAutomatically=true
}


