# Configuration file

general {

    guioptions {
        # Default Modern Beta world preset
        S:defaultPreset=

        # Default Modern Beta world preset filter
        # Valid values:
        # ALL
        # BUILTIN
        # ADDON
        # CUSTOM
        S:defaultPresetFilter=ALL

        # Use customization menus for selecting basic generator settings. Applies to chunk source, biome source, surface builder, and cave carver options.
        B:useMenusForBasicSettings=true

        # Set Modern Beta world type as default
        B:useModernBetaAsDefault=false
    }

    generatoroptions {
        # Add biomes with custom surface builders for compatibility, requires fully-qualified biome registry name
        S:biomesWithCustomSurfaces <
         >

        # Save Indev level to separate file and try to load instead of regenerating level
        B:saveIndevLevels=true
    }

    visualoptions {
        # Modern Beta world cloud height
        # Min: 0
        # Max: 255
        I:cloudHeight=108

        # Render Beta-accurate biome colors
        B:useBetaBiomeColors=true

        # Render Beta-accurate sky colors
        B:useBetaSkyColors=true

        # Override default cloud height.
        B:useCustomCloudHeight=false

        # Render biome colors with increasingly lower temperatures above y128
        B:useHeightTempGradient=true

        # Render fog with old fog color blending algorithm
        B:useOldFogColorBlending=true

        # Render old sugar cane colors
        B:useOldSugarCaneColor=true
    }

    spawnoptions {
        # Use spawn fuzz for players who join the world
        B:useSpawnFuzz=false
    }

    serveroptions {
        # Send world cloud height to joining clients
        B:sendCloudHeight=true
    }

    debugoptions {
        # Debug block sources.
        B:debugBlockSources=false

        # Debug Indev level saving functionality.
        B:debugIndevLevelSaves=false

        # Display Modern Beta debug info in debug screen.
        B:displayDebugInfo=false

        # Register debug properties at mod start-up.
        B:registerDebugProperties=false
    }

}


