# Configuration file

general {
    B:RestrictUnsafeModeToOP=true
    B:WIP_disableRadiationSystem=true
    B:disableAutofeeder=true
    B:machinesNeedNoPower=false
}

"disable items" {
    B:addBronzeIngot=false
    B:addCopperIngot=false
    B:addCopperNugget=false
    B:addLeadIngot=false
    B:addLeadNugget=false
    B:addSteelIngot=false
    B:addSteelNugget=false
    B:addTinIngot=false
}

"world generation" {
    B:SpawnOreClusterStructures=false
    B:SpawnStructures=false
    B:doOreGenCopper=false
    B:doOreGenLead=false
    B:doOreGenTin=false
    B:doOreGenTitanium=true
    B:doOreGenUranium=false
}

"npc spawn" {
    I:"Techguns Spawnweight NEther"=0
    I:"Techguns Spawnweight Overworld"=100
    I:SpawnWeightBandit=0
    I:SpawnWeightCyberDemon=0
    I:SpawnWeightPsychoSteve=0
    I:SpawnWeightSkeletonSoldier=0
    I:SpawnWeightZombieFarmer=0
    I:SpawnWeightZombieMiner=0
    I:SpawnWeightZombiePigmanSoldier=0
    I:SpawnWeightZombieSoldier=0
}

"damage factors" {
    D:DamageFactorNPC=1.0
    D:DamagePvP=0.5
    D:DamageTurretToPlayer=0.5
}
